{% extends "base.html" %}
{% block title %}Golf courses in database{% endblock %}
{% block content %}

<h2>Available golf courses:</h2>
<table style="width:600">
  <tr>
    <th>Name</th>
    <th>club</th>
    <th>address</th>
  </tr>
{% for course_info in all_course_data %}
  <tr>
    <td>{{course_info[0]}}</td>
    <td>{{course_info[1]}}</td>
    <td>{{course_info[2]}}</td>
  </tr>
{% endfor %}
</table>

{% if user.is_admin() %}
  <h2> Admin functions: </h2>
  add course:<br>
  <form action="/courses" method="post">
    <label for="name" >name : </label>
    <input type="text"  name="courseName" required="required" pattern="[a-zA-Z0-9\s]+{1,20}"><p>
    <label for="club">club : </label>
    <select name="club">
      {% for club_name in club_names %}
      <option value= "{{ club_name[0] }}">{{ club_name[0] }}</option>
      {% endfor %}
    </select>

    <table style="width:300">
      <tr>
        <th>Hole</th>
        <th>par</th>
        <th>length</th>
      </tr>
      {% for i in range(1,19) %}
      <tr>
        <th>{{i}}</th>
        <td> <input type="number" value = 4 name="par" min="3" max="5"></td>
        <td> <input type="number" value = 300 name="length" min="50" max="600" step=10></td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <input type="submit" value="submit">
  </form>
  {% endif %}
{% endblock %}
