<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>Golfbook</title>
<div class ="header">
  <h1>Golfbook</h1>
</div>
<body>
  <h1>Welcome to golfbook!</h1>
  Please start by logging in.
  <p>
  <form action="/" method="POST">
    username: <input type="text"  name="username">
    password: <input type="password" name="password">
    <p>

    <input type="submit" value="login"><br>
    {{message}}
    <br>
    <a href ="sign_up">Create a new account.</a>
  </form>
  </body>
</html>
