{% extends "base.html" %}
{% block title %}Edit userprofile{% endblock %}
{% block content %}
{% for info in user_data %}
<h2>User profile: {{info[0]}}</h2><a href ="/edit_profile">edit</a><p>
  real name: {{info[1]}}<br>
  Golf club: {{info[2]}}<br>
{% endfor %}
<h2>Friends:</h2>
{% for friend in friendlist %}
  {{friend[0]}}<br>
{% endfor %}
<br>
<h2>Add friends:</h2>
<form action="/profile" method="post">
  <label for="friend" >username : </label>
  <input type="text"  name="friend" required="required">
  <input type="submit" value="add">
</form>
(only mutual friendships are shown)
{% endblock %}
